<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="folderCollegesPath" value="C:\Users\38098\Desktop\Colleges.json"/>
		<add key="file1Path" value="C:\Users\38098\Desktop\file1.txt"/>
		<add key="file2Path" value="C:\Users\38098\Desktop\file2.txt"/>
	</appSettings>
</configuration>